extends base

block content
    form(method="POST" enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Avatar 
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(placeholder="Name", required, type="text", name="name", value=loggedInUser.name)
        input(placeholder="Email", required, type="email", name="email", value=loggedInUser.email)
        input(placeholder="UserName", required, type="text", name="username", value=loggedInUser.username)
        input(placeholder="Location", required, type="text", name="location", value=loggedInUser.location)
        input(value="Update Profile", type="submit")
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password &rarr;