extends ../base

block content
    form(method="POST")
        span=errorMessage
        input(placeholder="Old Password",type="password" name="oldPassword")
        input(placeholder="New Password",type="password" name="newPassword")
        input(placeholder="New Password Confirmation",type="password" name="newPasswordConfirmation")
        input(value="Change PassWord" type="submit")
